body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}

.promotions {
  background-color: #f1eded;
  padding: 2rem;
}

.promotions h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.promotions-container {
  display: inline-flex;
}

.promotion {
  width: calc(33.33% - 1rem);
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

#promotion_second{
  margin-left: 100px;
}

.promotion img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.promotion h3 {
  font-size: 1.5rem;
  margin: 1rem;
}

.promotion p {
  margin: 1rem;
}

.button {
  display: block;
  text-align: center;
  background-color: #2b8bec;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  margin: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #0d6efd;
}