@mixin flex-properties($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin margin-set($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}